@import url('https://fonts.googleapis.com/css2?family=Delius+Unicase:wght@700&family=Noto+Sans+JP:wght@200&family=Roboto&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
.wrapper{
  display: flex;
}

.leftBox {
  width: 30%;
  height: 100vh;
  background-image: linear-gradient(150deg, 
    #041F1BFA, #380C4A, #3B0E46, #3D0F42, #441436, #33254E, #2B2D59, #292654, #271F4F, #240D37, #22052D, #22052D, #22052D, #22052D),
    radial-gradient(#4E1A45, #45142B, #45142B, #3D0E12, #3D0D0F, #3D0D0F, #3D0D0F, #3C0D0D);
}
.rightBox{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  background-color: lightgray;
}
form{
  width: 40%;
}
input{
  border: 2px solid grey;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  text-transform: none;
}
label{
  font-size: 15px;
  font-weight: bolder;
  letter-spacing: 2px;
}
.rightBox input::placeholder{
  letter-spacing: 2px;
}
.btmDiv{
  display: flex;
  justify-content: space-between;
}
.customerName input, .cardNumber input{
  width: 100%;
}
.btmDiv input{
  width: 50px;
}
form div{
  margin-top: 10px;
}
.cvc input{
  width: 200px;
}
button{
  margin-top: 30px;
  background-color: #220930;
  color: white;
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  padding: 15px;
  border-radius: 10px;
}
p{
  color: red;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 14px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}